body {
  background: #ebedec !important;
  display: grid;
  grid-template-columns: repeat(31, 61.5px);
  grid-template-rows: repeat(31, 61.5px);
  justify-content: center;
}

.contgrid {
  display: grid;
  grid-template-columns: repeat(50, 30px);
  grid-template-rows: repeat(50, 30px);
  justify-content: center;
}

.grid_nav{
  grid-column-start: 1;
  grid-column-end: 50;
  grid-row-start: 1;
}

.contgrid{
  grid-column-start: 1;
  grid-column-end: 50;
  grid-row-start: 2;
  grid-row-end: 50;
  margin-top: 2px;
}

.fade1 {
  width: 1500px;
  height: auto;
}

.fadaebackground1 {
  grid-column-start: 1;
  grid-column-end: 51;
}

/* Style the navigation bar */
.mainnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Style the logo */
.logo img {
  height: 35px;
  width: 130px;
  margin-left: 15px;

}


/* Style the search bar */
.search input[type="text"] {
  padding: 8px;
  border: none;
  /* border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; */
  font-size: 16px;
  background-color: #f5f5f5;
  width: 1050px;
}

.search {
  margin-right: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 30px;
}


.search button[type="submit"] {
  padding: 8px;
  padding-right: 30px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  background-color: #eb3c59;
  color: #fff;
  margin-left: -5px;
  cursor: pointer;
  width: 45px;
}

.search button i {
  color: #000000;
}

.search .srr:hover {
  background-color: #d93853;
}

.search form {
  position: absolute;
  /* add this line */
  left: -50px;
  /* add this line */
  top: -0.9px;

}

.sk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}


/* Style the cart button */
.cart button {
  position: absolute;
  right: 40px;
  top: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 10px;
}

.cart button i {
  color: #ffffff;
  font-size: 30px;
}

.cart button:hover i {
  color: #eb3c59;
}

.orders button {
  position: absolute;
  right: 120px;
  top: 25px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: 600;
}

.orders button:hover {
  color: #eb3c59;
}

/* dropdown */
.nav-search-dropdown {
  width: 50px;
  height: 42px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
  background-color: #f5f5f5;
}



.dropdown {
  position: absolute;
  left: -1208px;
  height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
}

.dropdown button:hover {
  background-color: #cccccc;
}

li {
  background-color: #cccccc;
  width: 200px;
}

/* Media Query for screen sizes less than 600px */
@media only screen and (max-width: 600px) {

  /* Adjust logo size and margin */
  .logo img {
    height: 30px;
    width: 100px;
    margin-left: 0px;
  }

  /* Adjust search input width and margin */
  .search input[type="text"] {
    width: 200px;
    margin-right: 10px;
  }

  /* Adjust search button padding and width */
  .search button[type="submit"] {
    padding: 8px;
    width: 30px;
  }

}

.lang-dropdown {
  position: absolute;
  left: 1480px;
  top: 15px;
  background-color: transparent;
  margin-left: 20px;
  margin-top: 5px;
}

.lang-dropdown:hover {
  color: #d6d6d6;
}

.lang-dropdown button {
  color: #fff;
  font-weight: 600;
}

.dwn {
  margin-left: 300px;
  border-bottom: 1px solid #979797;
  width: 20000px;
  margin-bottom: 25px;
}

.new {
  padding-top: 100px;
  padding-bottom: 40px;
  font-weight: 300;
  margin-bottom: -30px;
}

.centring {
  margin-right: 265px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block0img {
  width: 300px;
  height: 260px;
  display: block;
  margin: auto;
}

.block1 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 17;

}

.block2 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 15;
  grid-column-end: 50;
  grid-row-start: 9;
  grid-row-end: 17;
}

.block3 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 27;
  grid-column-end: 50;
  grid-row-start: 9;
  grid-row-end: 17;

}

.block4 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 39;
  grid-column-end: 50;
  grid-row-start: 9;
  grid-row-end: 17;
}

.block5 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 3;
  grid-column-end: 50;
  grid-row-start: 24;
  grid-row-end: 50;
}

.block6 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 15;
  grid-column-end: 50;
  grid-row-start: 24;
  grid-row-end: 50;
}

.block7 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 27;
  grid-column-end: 50;
  grid-row-start: 24;
  grid-row-end: 50;
}

.block8 {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  grid-column-start: 39;
  grid-column-end: 50;
  grid-row-start: 24;
  grid-row-end: 50;
}

.block0text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 750;
}

.buy-button {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 14px;
  color: #288798;
  font-weight: 620;
}

.buy-button:hover {
  text-decoration: underline;
  color: #c7511f;
}

/* bigblockdown */
.block9 {
  width: 1420px;
  height: 360px;
  background-color: #ffffff;
  grid-column-start: 3;
  grid-column-end: 51;
  grid-row-start: 39;
  grid-row-end: 50;
  
}

.img0blockk {
  position: absolute;
  left: 283px;
}

.img1blockk {
  position: absolute;
  left: 545px;
}
.img2blockk {
  position: absolute;
  left: 807px;
}
.img3blockk {
  position: absolute;
  left: 1069px;
}
.img4blockk {
  position: absolute;
  left: 1331px;
}

.block1img {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}


.seealldealsbutton {
  position: absolute;
  top: 1205px;
  left: 405px;
  z-index: 10;
}


.buy-button-red0{
  background-color: #cc0c39;
  position: absolute;
  top: 208px;
  left: 0px;
  z-index: 10;
  border: none;
  border-radius: 3px;
  width: 65px;
  height: 25px;
  color: #fdf3f9;
  font-size: 13.5px;
  font-weight: 600;
}
.buy-now-text0{
  position: absolute;
  top: 208px;
  left: 75px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 648;
  color: #cc0c39;
}
.buy-now-2nd-text0{
  position: absolute;
  top: 235px;
  left: 0px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 400;
  color: #000000;
}



.buy-button-red1{
  background-color: #cc0c39;
  position: absolute;
  top: 208px;
  left: 0px;
  z-index: 10;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  color: #fdf3f9;
  font-size: 13.5px;
  font-weight: 600;
}
.buy-now-text1{
  position: absolute;
  top: 208px;
  left: 110px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 648;
  color: #cc0c39;
}
.buy-now-2nd-text1{
  position: absolute;
  top: 235px;
  left: 0px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 400;
  color: #000000;
}



.buy-button-red2{
  background-color: #cc0c39;
  position: absolute;
  top: 208px;
  left: 0px;
  z-index: 10;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  color: #fdf3f9;
  font-size: 13.5px;
  font-weight: 600;
}
.buy-now-text2{
  position: absolute;
  top: 208px;
  left: 110px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 648;
  color: #cc0c39;
}
.buy-now-2nd-text2{
  position: absolute;
  top: 235px;
  left: 0px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 400;
  color: #000000;
}


.buy-button-red3{
  background-color: #cc0c39;
  position: absolute;
  top: 208px;
  left: 0px;
  z-index: 10;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  color: #fdf3f9;
  font-size: 13.5px;
  font-weight: 600;
}
.buy-now-text3{
  position: absolute;
  top: 208px;
  left: 110px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 648;
  color: #cc0c39;
}
.buy-now-2nd-text3{
  position: absolute;
  top: 235px;
  left: 0px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 400;
  color: #000000;
}


.buy-button-red4{
  background-color: #cc0c39;
  position: absolute;
  top: 208px;
  left: 0px;
  z-index: 10;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  color: #fdf3f9;
  font-size: 13.5px;
  font-weight: 600;
}
.buy-now-text4{
  position: absolute;
  top: 208px;
  left: 110px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 648;
  color: #cc0c39;
}
.buy-now-2nd-text4{
  position: absolute;
  top: 235px;
  left: 0px;
  z-index: 10;
  font-size: 13.5px;
  font-weight: 400;
  color: #000000;
}




/* .category-list {
  display: inline-block;

  margin-bottom: 20px;
}

.dwn {
  margin-left: 270px;

}

#lost {
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;

}

.mylist {
  border-bottom: 1px solid #ccc;
  width: 1353px;
}

.mylist li {
   cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  margin-right: -70px;
}

.category-list ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}



.category-list li.active {
  color: #000000;
  font-weight: light;
}

.image-list {
  display: inline-block;
  flex-wrap: wrap;

}

.image {
  display: none;
  margin: 10px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;

}

.image img {
  object-fit: cover;
  border-radius: 10px;
}

.image.active {
  display: block;
}

.new {
  padding-top: 100px;
  padding-bottom: 40px;
  font-weight: 300;
}

.category-list {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;

}

.category-list ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}



.image-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap
}



.image img {
  max-width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
  filter: blur(0);
}

.image:hover img {
  filter: blur(3px);
}

.image button {
  position: absolute;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  background-color: #eb3c59;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.image:hover button {
  opacity: 1;
  transform: translate(-50%, -5%);
}

.image button:focus {
  outline: none;
  box-shadow: none;
}


.image:hover button {
  display: block;
}

.image button:hover {
  background-color: #fff;
  color: #c0392b;
}

.category-list {
  margin-bottom: 20px;
}


.category-list li.active {
  color: #ff0000;
}




.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image:hover img {
  filter: blur(3px);
}

.image:hover button {
  opacity: 1;
}


.image-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.image {
  flex: 0 0 auto;
  margin-left: 25px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
}



.imgdesc {
  font-size: 20px;
  font-weight: 600;
}

.price {
  font-size: 22px;
  font-weight: 600;
  color: #eb3c59;
} */