body {
    background: #ffffff !important;

}

.maingrid {
    display: grid;
    grid-template-columns: repeat(28, 60px);
    grid-template-rows: repeat(28, 60px);
    justify-content: end;
}





/* Style the navigation bar */
.mainnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the logo */
.logo img {
    height: 35px;
    width: 130px;
    margin-left: 15px;
}


/* Style the search bar */
.search input[type="text"] {
    padding: 8px;
    border: none;
    /* border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; */
    font-size: 16px;
    background-color: #f5f5f5;
    width: 1050px;
}

.search {
    margin-right: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 30px;
}


.search button[type="submit"] {
    padding: 8px;
    padding-right: 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    background-color: #eb3c59;
    color: #fff;
    margin-left: -5px;
    cursor: pointer;
    width: 45px;
}

.search button i {
    color: #000000;
}

.search .srr:hover {
    background-color: #d93853;
}

.search form {
    position: absolute;
    /* add this line */
    left: -50px;
    /* add this line */
    top: -0.9px;

}

.sk {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}


/* Style the cart button */
.cart button {
    position: absolute;
    right: 40px;
    top: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 10px;
}

.cart button i {
    color: #ffffff;
    font-size: 30px;
}

.cart button:hover i {
    color: #eb3c59;
}

.orders button {
    position: absolute;
    right: 120px;
    top: 25px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: 600;
}

.orders button:hover {
    color: #eb3c59;
}

/* dropdown */
.nav-search-dropdown {
    width: 50px;
    height: 42px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    background-color: #f5f5f5;
}



.dropdown {
    position: absolute;
    left: -1208px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
}

.dropdown button:hover {
    background-color: #cccccc;
}

li {
    background-color: #cccccc;
    width: 200px;
}

/* Media Query for screen sizes less than 600px */
@media only screen and (max-width: 600px) {

    /* Adjust logo size and margin */
    .logo img {
        height: 30px;
        width: 100px;
        margin-left: 0px;
    }

    /* Adjust search input width and margin */
    .search input[type="text"] {
        width: 200px;
        margin-right: 10px;
    }

    /* Adjust search button padding and width */
    .search button[type="submit"] {
        padding: 8px;
        width: 30px;
    }

}

.lang-dropdown {
    position: absolute;
    left: 1480px;
    top: 15px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 5px;
}

.lang-dropdown:hover {
    color: #d6d6d6;
}

.lang-dropdown button {
    color: #fff;
    font-weight: 600;
}

.contgrid {
    display: grid;
    grid-template-columns: repeat(45, 40px);
    grid-template-rows: repeat(45, 40px);
    justify-content: center;
}

.cr1 {
    width: 600px;
    height: auto;
    grid-column-start: 5;
    grid-column-end: 45;
    grid-row-start: 2;
    grid-row-end: 45;
}



.crimg {
    width: 600px;
    height: 700;
    border-radius: 20px;
}

.carousel-control-prev,
/*error*/
/*error*/
/*error*/
/*error*/
/*error*/
/*error*/
.carousel-control-next {
    margin-top: 50%;
    z-index: 10;
}

.carousel-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carousel-preview img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.carousel-preview img.active {
    opacity: 1;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.carousel-preview img:hover {
    opacity: 0.8;
}

.carousel-preview img.active:hover {
    opacity: 1;
}

.buy-button {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 14px;
    color: #288798;
    font-weight: 620;
}

.bttn {
    padding-left: 20px;
    grid-column-start: 20;
    grid-column-end: 45;
    grid-row-start: 2;
    grid-row-end: 45;
}

.buy-button:hover {
    text-decoration: underline;
    color: #c7511f;
}

.product_dis {
    color: #565959e1;
    font-size: 25px;
    font-weight: 500;
    grid-column-start: 21;
    grid-column-end: 45;
    grid-row-start: 3;
    grid-row-end: 45;
}

/* underline */
.product_dis::after {
    content: "";
    display: block;
    width: 600px;
    height: 1.8px;
    background-color: #ccc;
    margin-top: 10px;
}

.price {
    grid-column-start: 21;
    grid-column-end: 45;
    grid-row-start: 6;
    grid-row-end: 45;
    margin-top: 16px;
    color: #b73818;
    font-size: 20px;
    font-weight: 500;

}

.vat {
    grid-column-start: 22;
    grid-column-end: 45;
    grid-row-start: 7;
    grid-row-end: 45;
    font-size: 15px;
    margin-top: 5px;
}

.vat::after {
    content: "";
    display: block;
    width: 600px;
    height: 1px;
    background-color: #ccc;
    margin-top: 50px;
    margin-left: -35px;
}

.price span {
    color: #6b6b6be4;
    font-size: 15px;
    font-weight: 500;
}

.bi-cash-coin {
    font-size: 30px;
    margin-right: 30px;
    grid-column-start: 24;
    grid-column-end: 45;
    grid-row-start: 8;
    grid-row-end: 45;
}

.bi-credit-card {
    font-size: 30px;
    margin-left: 30px;
    grid-column-start: 24;
    grid-column-end: 45;
    grid-row-start: 7;
    grid-row-end: 45;
    margin-top: 25px;
}

.creditt {
    grid-column-start: 24;
    grid-column-end: 45;
    grid-row-start: 8;
    grid-row-end: 45;
    margin-top: 10px;
    margin-left: -10px;
}

.credit:hover {
    text-decoration: underline;
    color: #c7511f;
}

.cashh {
    grid-column-start: 21;
    grid-column-end: 45;
    grid-row-start: 8;
    grid-row-end: 45;
    margin-top: 12px;
    margin-left: -15px;
}

.cashh:hover {
    text-decoration: underline;
    color: #c7511f;
}

.size {
    grid-column-start: 21;
    grid-column-end: 45;
    grid-row-start: 10;
    grid-row-end: 45;
    margin-top: 30px;
    margin-left: 3px;
    font-weight: 650;
}

.size-dropdown {
    grid-column-start: 21;
    grid-column-end: 45;
    grid-row-start: 11;
    grid-row-end: 45;
    margin-top: 20px;
    margin-left: 3px;
}

.btn.dropdown-toggle {
    background-color: #f5f5f5;
    border-color: #d3d3d3;
    color: #333;
    border-radius: 0.5rem;
}

.btn.dropdown-toggle:hover {
    background-color: #e6e6e6;
    border-color: #c2c2c2;
}

.dropdownSize {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: none;
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    background-color: #e6e6e6;
    color: #333;
}

.color {
    grid-column-start: 21;
    grid-column-end: 45;
    grid-row-start: 12;
    grid-row-end: 45;
    margin-top: 30px;
    margin-left: 3px;
    font-weight: 400;
}

.color span {
    font-weight: 500;
}
.addTocart{
    grid-column-start: 28;
    grid-column-end: 45;
    grid-row-start: 7;
    grid-row-end: 45;
    margin-top: 20px;
    margin-left: 50px;
}
.buy-buttonn {
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background-color: #ffd814;
    box-shadow: 0 0 10px 2px #0000004c;
  }
  
  .buy-buttonn:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
  }
  
  .buy-buttonn:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #208f95ba;
  }

  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
  }
  